{% extends "layouts/base.htm" %}
<!-- 
    this is the index page for non-authenticated users
-->
{% block title %}Home{% endblock %}
{% block home_active %}active{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="container">
        <h4 class="card-title">Latest News</h4>
        {% for a in article %}
    <div class="container p-3 my-3 border">
        <div class="d-flex justify-content-between">
            {% if a[3].lower() == "health" %}
            <p class="text-danger"><em><small>{{a[3]}}</small></em></p>
            {% endif %}
            {% if a[3].lower() == "politics" %}
            <p class="text-succcess"><em><small>{{a[3]}}</small></em></p>
            {% endif %}
            {% if a[3].lower() == "business" %}
            <p class="text-primary"><em><small>{{a[3]}}</small></em></p>
            {% endif %}
            <p><small>{{a[2]}}</small></p>
        </div>
        <!-- news article header -->
        <a href="#" class="text-dark"><h4>{{a[1]}}</h4></a>
        <p>{{a[4]}} </p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}