{% extends "layouts/user_base.htm" %}
<!--
    user article page is similar to article page, can actually create a article base and ref.
    -- extra features include liking of article in user accounts only.
-->
{% block title %}Home{% endblock %}
{% block home_active %}active{% endblock %}
{% block content %}

<div id="scroll-container">
    <div class="wrap-container " id="wrap-scroll">
      <ul id="ul-scroll">
        <h3 class="card-title text-danger">Quick Glance</h3>
        {% for b in article %}
        <li class="active">
          <span class="item">
            <form method="POST">
                <input type="text" id="post_item" name="text" value="{{b[0]}}">
                <input type="submit" id="display_text" value="{{b[1]}}">
            </form>
          </span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <svg>
    <defs>
      <linearGradient id="gradient" x1="0" y1="0%" x2 ="0" y2="50%">
        <stop stop-color="black" offset="0"/>
        <stop stop-color="white" offset="1"/>
      </linearGradient>
  
      <mask id="masking" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox">
        <rect y="0" width="1" height="1" fill="url(#gradient)" />
      </mask>
    </defs>
  </svg>

<div class="container-fluid">
    <div class="container">
        <h3 class="card-title">Latest News</h3>
        {% for a in article %}
            <div class="container p-3 my-3 border item" id="{{a[0]}}">
                <div class="d-flex justify-content-between">
                    {% if a[3].lower() == "health" %}
                    <p class="text-danger"><em><small>{{a[3]}}</small></em></p>
                    {% endif %}
                    {% if a[3].lower() == "politics" %}
                    <p class="text-success"><em><small>{{a[3]}}</small></em></p>
                    {% endif %}
                    {% if a[3].lower() == "business" %}
                    <p class="text-primary"><em><small>{{a[3]}}</small></em></p>
                    {% endif %}
                    <p><small>{{a[2]}}</small></p>
                </div>
                <!-- news article header -->
                <form method="POST">
                    <input type="text" id="post_item" name="text" value="{{a[0]}}">
                    <input type="submit" id="display_text" value="{{a[1]}}">
                </form>
                <!-- news article agency name -->        
                <p>{{a[4]}} </p>
            </div>
        {% endfor %}
    </div>
</div>
<script>
$(function() {
    $("div.item:gt(6)").not(":eq(0)").hide();
    $("div.item:gt(6)").not(":eq(0)").css("background-color", "#f8f8f8");

    $(window).on("scroll", function () {
        if ($(this).scrollTop() > 200) {
            $("div.item").show();
        } else {
            $("div.item:gt(6)").not(":eq(0)").hide();
        }
    });
});
</script>
{% endblock %}
