{% extends "layouts/user_base.htm" %}
<!-- 
    includes user information such as privilleges, email address, etc.
    can include user favourite news article here.
-->
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <!-- profile information -->
            <div class="card">
                <form class="card-body">
                    <h4 class="card-title">Profile</h4>
                    <span>
                        {% if session['is_admin'] %}
                        <p>Account Type: <strong class="text-danger">Administrator</strong></p>
                        {% else %}
                        <p>Account Type: <strong class="text-danger">User</strong></p>
                            <p>User privilege: <strong class="text-danger">FREE</strong></p>
                            <div class="alert alert-danger" role="alert">
                                Your user privilege is currently <strong>FREE</strong>, click <a href="{{ url_for('user_privilege') }}">here</a> to view more information on our privileges tiers!
                            </div>
                        {% endif %}
                    </span>
                </form>
            </div>
            <br/>
            <!-- logout -->
            <div class="card">
                <form class="card-body">
                    <h4 class="card-title">Controls</h4>
                    <button class="btn btn-danger btn-sm" onclick="location.href='{{ url_for('logout') }}'" type="button">
                        Logout of NewsAPI</button>
                </form>
            </div>
        </div>
        <div class="col-sm">
            <!-- favourites -->
            <div class="card">
                <form class="card-body">
                    <h4 class="card-title">Favourites</h4>
                    <div>
                        <span class="d-flex justify-content-between"> 
                            <h5>Article 1</h5> 
                            <button type="button" class="btn btn-danger btn-sm">Unfavourite</button> 
                        </span>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor mauris turpis, sit amet ornare justo placerat in. Proin vitae ante in orci sodales convallis. In efficitur enim sit amet ligula fermentum, accumsan vestibulum dolor posuere. Donec pellentesque in dolor et consequat. Ut vehicula semper lacus eu mattis. Fusce tincidunt, sem et tempor laoreet, ipsum nisl pulvinar mi, sit amet dapibus ligula dolor vitae diam. In posuere in ipsum sit amet mattis. Nulla vestibulum est viverra quam lacinia, quis iaculis tortor tincidunt. Vivamus suscipit massa elit, a suscipit tellus porta vitae. In vitae tincidunt leo. Donec fringilla magna dapibus urna convallis ultrices. Cras pharetra diam in leo tempus molestie. Nulla aliquet lacus eu porta interdum. Quisque lacinia nulla quis lorem hendrerit, sit amet interdum lectus pulvinar. Vestibulum sagittis molestie lorem et euismod.</p>

                    </div>
                    <div>
                        <span class="d-flex justify-content-between"> 
                            <h5>Article 2</h5> 
                            <button type="button" class="btn btn-danger btn-sm">Unfavourite</button> 
                        </span>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor mauris turpis, sit amet ornare justo placerat in. Proin vitae ante in orci sodales convallis. In efficitur enim sit amet ligula fermentum, accumsan vestibulum dolor posuere. Donec pellentesque in dolor et consequat. Ut vehicula semper lacus eu mattis. Fusce tincidunt, sem et tempor laoreet, ipsum nisl pulvinar mi, sit amet dapibus ligula dolor vitae diam. In posuere in ipsum sit amet mattis. Nulla vestibulum est viverra quam lacinia, quis iaculis tortor tincidunt. Vivamus suscipit massa elit, a suscipit tellus porta vitae. In vitae tincidunt leo. Donec fringilla magna dapibus urna convallis ultrices. Cras pharetra diam in leo tempus molestie. Nulla aliquet lacus eu porta interdum. Quisque lacinia nulla quis lorem hendrerit, sit amet interdum lectus pulvinar. Vestibulum sagittis molestie lorem et euismod.</p>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}