/*  custom stylesheet here */

.navbar-text { display: inline-block; padding-top: .0rem !important;  padding-bottom: .0rem !important; }
footer { padding: 10 0; }
body { margin-bottom: 100px !important; }
.container-fluid, .container { margin-top: 30px !important; }

/* article items */
#post_item { display: none; }
input#display_text { border: none; background: none; font-weight: bold; padding: 0; }
.article_item { text-align: justify; }

#scroll-container{ overflow: hidden; height: 400px; top: 100px; position: relative; }
.wrap-container { position: relative; max-height: 400px; width: 100%; max-width: 100%; overflow: auto; }
.wrap-container::-webkit-scrollbar { display:none; }
ul { list-style: none; position: relative;  top: 50px; }
ul, ul li { margin: 0; padding: 0;  text-align: center; }
ul li {  height: 50px; line-height: 50px; overflow: hidden; }