/* 
    custom stylesheet here 
*/
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark { height: 60px; }
footer { padding: 10 0; }
body { margin-bottom: 60; }
.container-fluid, .container { margin-top: 30px !important; }